@model StudentEnrollment.Models.Student

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/normalize.css" type="text/css" />
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="~/css/base.css" type="text/css" />
<link rel="stylesheet" href="~/css/layout.css" type="text/css" />
<link rel="stylesheet" href="~/css/modules.css" type="text/css" />

<div class="title">
    <h2>Details</h2>
</div>

<div class="detail-info">
    <dl class="dl-horizontal">
    <h4>Student</h4>
    <hr/>
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmentTerm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <hr/>
</div>
