@model StudentEnrollment.Models.StudentListingViewModel;

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/normalize.css" type="text/css" />
<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="~/css/base.css" type="text/css" />
<link rel="stylesheet" href="~/css/layout.css" type="text/css" />
<link rel="stylesheet" href="~/css/modules.css" type="text/css" />

<div class="title">
    <h2>Students</h2>
</div>

<div class="search">
    <p>
        <a asp-action="Create">Create New Student</a>
    </p>
    <form asp-controller="Student" asp-action="Index" method="get">
        <p>
            <select asp-for="courseName" asp-items="Model.courses">
                <option value="">All</option>
            </select>

            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" class="button" />
        </p>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.students[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.students[0].CourseName)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
